
<div class="mt-3 px-3">
    <button class="btn btn-primary me-2" type="button" (click)="previousMonth()"><</button>
    <button class="btn btn-primary" type="button" (click)="nextMonth()">></button>
</div>
<div class="table-responsive mt-3 px-3">
    <div class="text-center mb-1">
        <h2>{{this.months[selectedMonth]}} {{this.selectedYear}}</h2>
    </div>
    <table class="table table-bordered align">
        <thead>
            <tr class="align-center">
                <td class="col-1">Dom.</td>
                <td class="col-1">Seg.</td>
                <td class="col-1">Ter.</td>
                <td class="col-1">Qua.</td>
                <td class="col-1">Qui.</td>
                <td class="col-1">Sex.</td>
                <td class="col-1">Sáb.</td>
            </tr>
        </thead>
        <tbody id="calendar-table">
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[0].getDate()}}</td>
            <td class="col-1">{{calendarDays[1].getDate()}}</td>
            <td class="col-1">{{calendarDays[2].getDate()}}</td>
            <td class="col-1">{{calendarDays[3].getDate()}}</td>
            <td class="col-1">{{calendarDays[4].getDate()}}</td>
            <td class="col-1">{{calendarDays[5].getDate()}}</td>
            <td class="col-1">{{calendarDays[6].getDate()}}</td>
          </tr>
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[7].getDate()}}</td>
            <td class="col-1">{{calendarDays[8].getDate()}}</td>
            <td class="col-1">{{calendarDays[9].getDate()}}</td>
            <td class="col-1">{{calendarDays[10].getDate()}}</td>
            <td class="col-1">{{calendarDays[11].getDate()}}</td>
            <td class="col-1">{{calendarDays[12].getDate()}}</td>
            <td class="col-1">{{calendarDays[13].getDate()}}</td>
          </tr>
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[14].getDate()}}</td>
            <td class="col-1">{{calendarDays[15].getDate()}}</td>
            <td class="col-1">{{calendarDays[16].getDate()}}</td>
            <td class="col-1">{{calendarDays[17].getDate()}}</td>
            <td class="col-1">{{calendarDays[18].getDate()}}</td>
            <td class="col-1">{{calendarDays[19].getDate()}}</td>
            <td class="col-1">{{calendarDays[20].getDate()}}</td>
          </tr>
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[21].getDate()}}</td>
            <td class="col-1">{{calendarDays[22].getDate()}}</td>
            <td class="col-1">{{calendarDays[23].getDate()}}</td>
            <td class="col-1">{{calendarDays[24].getDate()}}</td>
            <td class="col-1">{{calendarDays[25].getDate()}}</td>
            <td class="col-1">{{calendarDays[26].getDate()}}</td>
            <td class="col-1">{{calendarDays[27].getDate()}}</td>
          </tr>
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[28].getDate()}}</td>
            <td class="col-1">{{calendarDays[29].getDate()}}</td>
            <td class="col-1">{{calendarDays[30].getDate()}}</td>
            <td class="col-1">{{calendarDays[31].getDate()}}</td>
            <td class="col-1">{{calendarDays[32].getDate()}}</td>
            <td class="col-1">{{calendarDays[33].getDate()}}</td>
            <td class="col-1">{{calendarDays[34].getDate()}}</td>
          </tr>
          <tr class="align-center">
            <td class="col-1" height="150">{{calendarDays[35].getDate()}}</td>
            <td class="col-1">{{calendarDays[36].getDate()}}</td>
            <td class="col-1">{{calendarDays[37].getDate()}}</td>
            <td class="col-1">{{calendarDays[38].getDate()}}</td>
            <td class="col-1">{{calendarDays[39].getDate()}}</td>
            <td class="col-1">{{calendarDays[40].getDate()}}</td>
            <td class="col-1">{{calendarDays[41].getDate()}}</td>
          </tr>
        </tbody>
    </table>
</div>